@font-face {
    font-family: 'MyFont';
    src: url(./jonesy-1/Jonesy\ Capitals.otf);
}

html{
    font-family: 'MyFont';
}

body{
    margin: 0px;
}

#content {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

footer {
    font-family: 'Roboto', sans-serif;
    color: gray;
    text-align: center;
    margin-bottom: 2rem;
}

body hr {
    color: lightgrey;
    margin: 6rem 0px 2rem 0px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0px;
    width:100vw;
    align-items: center;
}

.nav-left{
    display: flex;
    gap: 3rem;
    justify-content: left;
    align-items: center;
    margin-left: 2rem;
}

.nav-right{
    display: flex;
    gap: 1rem;
    justify-content: right;
    align-items: center;
    margin-right: 2rem;
    
}

.nav-right button {
    font-weight: bold;
    background-color: white;
    border-radius: 2rem;
    border: black solid 1px;
    padding:.35rem 1rem;
}

.nav-right button:hover {
    background-color: grey;
}

button:nth-child(2){
    background-color: black;
    color: white;
}

.nav-item {
    color: black;
    cursor: pointer;
    font-size: 1.2rem;
}

.home img{
    width:3.2rem;
}
/* About page */

.container1 {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: #006241;
    color: white;
    justify-content: center;
    padding-top: 1rem;
    text-align: center;
}
.container2, .container3 {
    background-color: #d50032;
    width: 100vw;
    color: white;
    display:flex;
    justify-content: center;
}

.container2 img, .container3 img {
    width: 50vw;
}

.firstTextBlock1 {
    width: 650px;
}

.text1, .fav-text1, .new-text1 {
    letter-spacing: 5px;
    font-size: 4rem;
    margin: 0px;
    
}

.text2, .fav-text2, .new-text2 {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.6;
}

.childTextBlock1, .childTextBlockA1{
    display: flex;
    justify-content: center;
    padding-left: 5rem;
    padding-right: 5rem;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

/* Menu Page */

.menuBoard1 {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    
}

.menu1 {
    color: gray;
    width: 10rem;
    margin-left: 8.5rem;
    margin-right: 5rem;
    line-height: 1.6;
}

.menu2 {
    flex: 1 1 0;
    margin-right: 8.5rem;
}
.menu2 div{
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
}

.menuIcon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 340px;
    gap: 1rem;
}


.menuIcon p {
    font-size: 1.2rem;
}

.menu2 h1{
    margin-bottom: 0px;
}

.menu2 p{
    width: 150px;
}
.imgMask {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    overflow: hidden;
}
.menu2 img {
    width:300px;
    object-position: -75px -70px;
    transition: ease 0.3s;
}

.type1, .type9, .type15, .type18 {
    font-size: 1.2rem;
    color: black;
    font-weight: 500;
}
.sectionHead h2 {
    margin-top: 4rem;
    margin-bottom: -1rem;
}
.sectionHead hr {
    color: rgba(235, 235, 235, 0.5);
    margin-top: 0px;
    width: 100%;
}


.menu2 img:hover {
    width:350px;
    object-position: -100px -100px;
}

.menu1 p{
    transition: ease 0.2s;
}

.menu1 p:hover {
    transform: scale(1.1);
    color: #006241;
}
 
/*   Rewards page */
.mainRewards1 {
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.rewards1 {
    display:flex;
    flex-flow: row-reverse, nowrap;
    height: 50vw;
    overflow: hidden;
    background-color: #d4e9e2;
    width: 100vw;
}


.rewards1 img {
    width: 160vw;
    object-position: -28vw 0px;
}

.box1 {
    display: flex;
    flex-flow: column;
    position: absolute;
    left: 3rem;
    font-size: 1.7vw;
    font-weight: 500;
    width: 38vw;
    margin-top: 10vw;
    
}

.R1text1{
    font-size: 4vw;
    width: 23vw;
    font-family: 'MyFont';
    margin-bottom: 1vw;
}


.rewards2, .R2box2 div{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 500;
    font-size: .9rem;
    text-align: center;
}

.R2box2{
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 80vw;
    margin-top: 3rem;

}

.R2box2 div{
    height: 350px;
    line-height: 28px;
}
.numberStepIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: -30rem;
    font-weight: 600;
    font-size: 24px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: #05864d solid 2px;
    color: #006241;
    flex-shrink: 0;
}

.stepTitle{
    font-size: 20px;
    font-weight: 600;
}

.R2text1{
    margin-top: 10rem;
    margin-bottom: 3rem;
    font-weight: 600;
    font-size: 24px;
}


